# Python virtual environment
.venv/

# Environment variables / secrets
.env

# Python cache files
__pycache__/
*.pyc 

# Jupiter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Spotify authentication cache
.cache
.cache-*